<footer class="footer" role="contentinfo">
  <div class="row">
    <div class="footer-col col-sm-4 col-sm-offset-2 col-sm-push-6">
      <h4><i class="fa fa-link"></i> Follow Us</h4>
      <div>
        <a href="//www.facebook.com/holisticpetcompany" alt="Follow on Facebook" title="Follow on Facebook"><i class="fa fa-2x fa-facebook-square"></i></a>
        <a href="//twitter.com/holisticpetco" alt="Follow on Twitter" title="Follow on Twitter"><i class="fa fa-2x fa-twitter-square"></i></a>
      </div>
{% comment %}
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#subscribe">Subscribe by email</button>
      <noscript>
        <p>Sorry, you'll need Javascript to follow us, but you can still access our site without javascript. Please check back again for updates, and <a href="/contact/">contact us</a> for more information.</p>
      </noscript>
      <div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="subscribe-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="subscribe-label">Subscribe to our blog</h4>
            </div>
            <div class="modal-body">
              <!-- MailChimp Signup Form BEGIN -->
              <form role="form" id="mc-form" novalidate>
                <div class="form-group">
                  <label class="control-label" for="mc-email">Email address (required)</label>
                  <input type="email" class="form-control" name="EMAIL" id="mc-email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label class="control-label" for="mc-fname">First name</label>
                  <input type="text" class="form-control" name="FNAME" id="mc-fname" placeholder="First name">
                </div>
                <div class="form-group">
                  <label class="control-label" for="mc-lname">Last name</label>
                  <input type="text" class="form-control" name="LNAME" id="mc-lname" placeholder="Last name">
                </div>
                <div class="alert alert-danger" id="mc-submit-error" hidden>
                  <p>An error occurred while sumitting your data, please try again or <a href="/contact/">contact us</a> if the problem persists.</p>
                </div>
                <div class="alert alert-danger" id="mc-response-error" hidden>
                  <p>An error occurred while processing your data.</p>
                  <div id="mc-response"></div>
                </div>
                <div class="alert alert-danger" id="mc-email-error" hidden>
                  <p>Please check your email address and try again.</p>
                </div>
                <div class="alert alert-info" id="mc-submitting" hidden>
                  <p>Submitting... Please wait.</p>
                </div>
                <div class="alert alert-success" id="mc-email-success" hidden>
                  <p>Thank you! You will receive an email confirmation shortly, please check your Junk Mail folder if it doesn't arrive in the next few minutes.</p>
                </div>
                <button type="submit" class="btn btn-default" id="mc-submit" value="Subscribe">Subscribe</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </form>
              <!-- MailChimp Signup Form END -->
            </div>
          </div>
        </div>
      </div>
{% endcomment %}
    </div>
    <div class="footer-col col-sm-6 col-sm-pull-6">
      <h4><i class="fa fa-envelope-o"></i> Contact Us</h4>
      <dl class="dl-horizontal">
        <div class="row">
        <dt class="col-sm-3 text-sm-right">Email</dt>
        <dd class="col-sm-9"><a href="mailto:holly@holisticpetcompany.co.uk">holly@holisticpetcompany.co.uk</a></dd>
        </div>
        <div class="row">
        <dt class="col-sm-3 text-sm-right">Address</dt>
        <dd class="col-sm-9">
          <address>
            <strong>Holistic Pet Company</strong><br>
            Unit 541, 179 Whiteladies Road<br>
            Bristol<br>
            BS8 2AG<br>
          </address>
        </dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p class="text-muted">&copy; The Holistic Pet Company {{ site.time | date: "%Y" }}. All rights reserved.<p>
    </div>
    <div class="col-sm-4">
      <p class="text-muted pull-right">Design by <span class="text-muted">m.onkey</span>.</p>
    </div>
  </div>
</footer>
