<footer class="footer" role="contentinfo">
  <div class="row">
    <div class="footer-col col-sm-4 col-sm-offset-2 col-sm-push-6">
      <h4><i class="fa fa-link"></i> Follow Us</h4>
      <div>
        <a href="//www.facebook.com/holisticpetcompany" alt="Follow on Facebook" title="Follow on Facebook"><i class="fa fa-2x fa-facebook-square"></i></a>
        <a href="//twitter.com/holisticpetco" alt="Follow on Twitter" title="Follow on Twitter"><i class="fa fa-2x fa-twitter-square"></i></a>
        <a href="//www.instagram.com/holisticpetco" alt="Follow on Instagram" title="Follow on Instagram"><i class="fa fa-2x fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-col col-sm-6 col-sm-pull-6">
      <h4><i class="fa fa-envelope-o"></i> Contact Us</h4>
      <dl class="dl-horizontal">
        <div class="row">
        <dt class="col-sm-3 text-sm-right">Email</dt>
        <dd class="col-sm-9"><a href="mailto:holly@holisticpetcompany.co.uk">holly@holisticpetcompany.co.uk</a></dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p class="text-muted">&copy; The Holistic Pet Company {{ site.time | date: "%Y" }}. All rights reserved.<p>
    </div>
    <div class="col-sm-4">
      <p class="text-muted pull-right">Design by <span class="text-muted">m.onkey</span>.</p>
    </div>
  </div>
</footer>
