{% assign url = page.url | remove:'index.html' %}
<header>
  <div id="branding" class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="logo img-fluid" src="//i.imgur.com/piq0BxKl.jpg" alt="The Holistic Pet Company Logo" title="The Holistic Pet Company (image hosted at imgur.com)">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h1><a href="{{ site.url }}">{{ site.name }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>
  </div>
  <div class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-collapse">&#9776;</button>
    <div id="navbar-collapse" class="collapse navbar-toggleable-xs">
      <ul class="nav navbar-nav">
{% for link in site.navigation %}
        <li class="nav-item{% if link.children %} dropdown{% endif %}{% if url == link.url %} active{% endif %}">
          <a class="nav-link{% if link.children %} dropdown-toggle{% endif %}" href="{{link.url}}" title="{{link.text}}"{% if link.children %} data-toggle="dropdown"{% endif %}>{{link.text}}</a>
{% if link.children %}
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
{% for sublink in link.children %}
            <a class="dropdown-item" href="{{sublink.url}}">{{sublink.text}}</a>
{% endfor %}
          </div>
{% endif %}
        </li>
{% endfor %}
      </ul>
    </div>
  </div>
</header>
