{% assign url = page.url | remove:'index.html' %}
<header>
  <div id="branding" class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <img class="logo img-fluid" src="http://i.imgur.com/piq0BxKl.jpg" alt="The Holistic Pet Company Logo" title="The Holistic Pet Company (image hosted at imgur.com)">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <h1><a href="{{ site.url }}">{{ site.name }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>
  </div>
  <div class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-collapse">&#9776;</button>
    <div id="navbar-collapse" class="collapse navbar-toggleable-xs">
      <ul class="nav navbar-nav">
{% for link in site.navigation %}
        <li class="nav-item{% if url == link.url %} active{% endif %}">
          <a class="nav-link" href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
        </li>
{% endfor %}
        <li class="nav-item{% if url == '/products/basket.html' %} active{% endif %} pull-sm-right">
          <a class="nav-link" href="/products/basket.html"><img class="glyphicon hidden-xs-down" src="/assets/img/glyphicons-203-shopping-cart.png"><span class="hidden-sm-up">Basket</span></a>
        </li>
      </ul>
    </div>
  </div>
</header>
