<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="Holly Mash (hollymashvet.com)">
{% if page.title %}
  <title>{{ page.title }} | {{ site.name }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=EB+Garamond" type="text/css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
  <link href="/assets/css/site.css" rel="stylesheet" media="screen" type="text/css">
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
