---
layout: default
---

<ol class="hidden-sm-down breadcrumb">
  <li><a href="/products/">Products</a></li>
  <li class="active">{{ page.title }}</li>
</ol>
{{ content }}
<div class="row">
  <div class="col-xs-12">
    <hr>
{% include basketstate.html %}
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-3 text-xs-center">
    <a href="/products/scruffy-dog/" class="card-link">
      <div class="card">
        <div class="card-header"><small>Scruffy Dog</small></div>
        <img class="card-img-bottom img-fluid" src="//i.imgur.com/KnAhCVal.jpg" title="image hosted at imgur.com">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 text-xs-center">
    <a href="/products/good-dog/" class="card-link">
      <div class="card">
        <div class="card-header"><small>Good Dog Biscuits</small></div>
        <img class="card-img-bottom img-fluid" src="//i.imgur.com/FJeyR6tl.jpg" title="image hosted at imgur.com">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 text-xs-center">
    <a href="/products/teadogs/" class="card-link">
      <div class="card">
        <div class="card-header"><small>Teadogs Range</small></div>
        <img class="card-img-bottom img-fluid" src="//i.imgur.com/pcuJYshl.jpg" title="image hosted at imgur.com">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3 text-xs-center">
    <a href="/products/balms/" class="card-link">
      <div class="card">
        <div class="card-header"><small>Balms</small></div>
        <img class="card-img-bottom img-fluid" src="//i.imgur.com/QOaRDfyl.jpg" title="image hosted at imgur.com">
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="lead">Our products are available online using the buttons above, alternatively please <a href="/contact/">contact us</a> to find your nearest stockist. Please read our <a href="/products/terms-and-conditions.html">terms and conditions</a> before placing your order.</p>
  </div>
</div>

