---
layout: default
---

{{ content }}
<div class="row">
  <div class="col-xs-12">
    <hr>
{% include basketstate.html %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="lead">Our products are available online using the buttons above, alternatively please <a href="/contact/">contact us</a> to find your nearest stockist. Please read our <a href="/products/terms-and-conditions.html">terms and conditions</a> before placing your order.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p><small>We also supply pet shops, gift shops and health food shops. If you are interested in becoming a stockist please drop us a line.</small></p>
  </div>
</div>

